@font-face {
	font-family: Montserrat-Bold;
	src: url(../fonts/Montserrat-Bold.ttf);
}
/*.navbar-brand {
	width: 113px;
	height: 46px !important;
}*/
.container-fluid {
	/*width: 100%;
	height: 804px;*/
	background-color: #eff0f2;
}
nav {
	width: 80%;
	/*height: 112px;*/
	padding-top: 64px;
	margin: auto;
	/*z-index: 2;*/
}
.navbar-toggler {
	outline: none !important;
	border: none;
}
.navbar-brand img {
	width: 100%;
	height: 100%;
}
/*.container-fluid {
	padding-top: 64px;
	padding-bottom: 674px;
}*/
h1 {
	/*margin-top: 205px;*/
	display: block;
	text-align: center;
	/*width: 1005px;
	height: 117px;*/
	/*margin-left: 218px;*/
	font-size: 42px;
	font-family: Montserrat-Bold; 
	color: #505050;
	text-shadow: 3px 3px 2px #c5c6c7;
	letter-spacing: 5px;
/*	margin-bottom: 150px;*/
}
.h1Backgroung {
	display: inline-block;
	height: 45px;
	background-color: #ace9e6;
}
.btn-outline-secondary {
	width: 232px;
	height: 53px;
	border-radius: 1px;
/*	margin-left: 604px;*/
	border: 2px solid #777879;
}
.image-1 {
	/*margin-left: 1094px;*/
	width: 133px;
	height: 119px;
}
