@font-face {
	font-family: Merriweather-Regular;
	src: url(../fonts/Merriweather-Regular.ttf);
}
@font-face {
	font-family: Montserrat-Bold;
	src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
	font-family: Montserrat-Regular;
	src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
	font-family: Raleway-Regular;
	src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
	font-family: Raleway-Medium;
	src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
	font-family: Merriweather-Bold;
	src: url(../fonts/Merriweather-Bold.ttf);
}
/*/////////container/////////////////////////////////*/
.container_1,
.container_2,
.container_3,
.container_4,
.container_5,
.container_6,
.container_7,
.container_8 {
	max-width: 1440px;
	margin: auto;
}
.container_2 h2,
.container_3 h2,
.container_4 h2,
.container_5 h2,
.container_6 h2 {
	padding-top: 120px;
	font-family: Montserrat-Bold; 
	font-size: 2.5em;
	color: #323333;
}
.container_2 p,
.container_3 p,
.container_4 p,
.container_5 p,
.container_6 p {
	font-family: Raleway-Regular;
	font-size: 1.3em;
	color: #848585;
}
/*/////////container_1/////////////////////////////////*/
.container_1Background {
	background-color: #eff0f2;
	min-height: 809px;
}
.container_1 {
	min-height: 809px;
}
nav {
	padding-top: 64px;
}
.navbar-toggler {
	outline: none !important;
	border: none;
}
.navbar-brand img {
	width: 100%;
	height: 100%;
}
.container_1 h1 {
	margin-top: 205px;
	font-size: 2.8em;
	font-family: Montserrat-Bold; 
	color: #505050;
	text-shadow: 3px 3px 2px #c5c6c7;
	letter-spacing: 5px;
}
.container_1 .h1Backgroung {
	display: inline-block;
	height: 45px;
	background-color: #ace9e6;
}
.container_1 .btn-outline-secondary {
	width: 232px;
	height: 53px;
	border-radius: 1px;
	border: 2px solid #777879;
	margin-top: 127px;
	margin-bottom: 238px;
}
/*/////////container_2/////////////////////////////////*/
.container_2 {
	min-height: 985px;
}
.container_2Background {
	background-color: #f8fafa;
	min-height: 985px;
}
.container_2Text {
	padding: 0 50px;
	padding-top: 46px;
	margin-bottom: 50px;
}
.container_2 h3 {
	font-family: Merriweather-Regular;
	font-size: 1.5em;
	font-weight: bold;
	color: #646565;
}
.carousel-indicators {
  position: absolute;
  bottom: -60px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #d0d0d0;
  border-radius: 5px;
}
.carousel-indicators li.active  {
  background-color: #71f6eb;
}
/*/////////container_3/////////////////////////////////*/
.container_3 {
	min-height: 1167px;
}
.container_3 p {
	margin-bottom: 120px;
}
.container_3Images img {
	max-width: 100%;
}
/*/////////container_4/////////////////////////////////*/
.container_4 {
	min-height: 1618px;
	padding-bottom: 100px;
}
.container_4Background {
	background-color: #f9fbfb;
}
.container_4 p {
	margin-bottom: 120px;
}
.container_4 .container_4Block {
	width: 100%;
	height: 422px;
}
.activeRot {
	transform: rotateY(180deg);
}
.smallBlock,
.bigBlock {
	perspective: 1000px;
	width: inherit;
	height: inherit;
}
.block_Rotation {
	position: relative;
	transition: 0.5s;
	transform-style: preserve-3d;
}
.block_Rotation .smallBlockFaceSide,
.block_Rotation .bigBlockFaceSide {
	width: 100%;
	height: 100%;
}
.smallBlockBackSide,
.bigBlockBackSide {
	position: absolute;
	top: 0;
	left: 0;
}
.block_Rotation .smallBlockBackSide,
.block_Rotation .bigBlockBackSide {
	width: 100%;
	height: 100%;
	background-color: #71f6eb;
	backface-visibility: hidden;
	transform: rotateY(180deg);
}
.smallBlockFaceSide img, 
.bigBlockFaceSide img {
	width: 100%;
	height: 422px;
}
.smallBlockFaceSideText,
.bigBlockFaceSideText {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	top: 0;
	left: 0;
	text-align: left;
	padding: 0 30px;
	padding-top: 180px;
}
.smallBlockFaceSideText h4,
.bigBlockFaceSideText h4 {
	font-family: Merriweather-Bold;
	font-size: 1.6em;
	color: white;
}
.smallBlockFaceSideText p,
.bigBlockFaceSideText p {
	color: white;
	margin-bottom: 50px;
}
#block2FaceSideButton,
#block4FaceSideButton,
#block5FaceSideButton,
#block3FaceSideButton,
#block1FaceSideButton,
#block6FaceSideButton {
	border: none;
	background-color: rgba(0,0,0,0);
	color: white;
	font-family: Raleway-Medium;
	font-size: 1.5em;
	outline: none;
	cursor: pointer;
}
.smallBlockBackSide h4,
.bigBlockBackSide h4 {
	font-family: Merriweather-Bold;
	font-size: 1.6em;
	width: 80%;
	text-align: left;
	margin-top: 50px;
	margin-left: 50px;
	color: #1d4b47;
}
.smallBlockBackSide p,
.bigBlockBackSide p {
	color: #1d4b47;
	width: 80%;
	height: 250px;
	text-align: left;
	margin-top: 10px;
	margin-left: 50px;
	margin-bottom: 0;
}
#block2BackSideButton,
#block4BackSideButton,
#block5BackSideButton,
#block3BackSideButton,
#block1BackSideButton,
#block6BackSideButton {
	width: 40px;
	text-align: left;
	font-family: Raleway-Medium;
	background-color: rgba(0,0,0,0);
	border: none;
	font-size: 1.8em;
	cursor: pointer;
	color: #1d4b47;
	outline: none;
}
/*/////////container_5////////////////////////////////*/
.container_5 {
	min-height: 1315px;
}
.container_5 p {
	margin-bottom: 120px;
}
.container_5 img {
	max-width: 100%;
	height: 440px;
}
.container_5Image {
	position: relative;
}
.container_5Image img {
	width: 370px;
}
.container_5ImageTitle {
	max-width: 320px;
	min-height: 253px;
	position: absolute;
	bottom: 5%;
	left: 15px;
	background-color: #70f6eb;
	opacity: 0;
	transition: 0.5s;
}
.container_5Image:hover .container_5ImageTitle {
	opacity: 1;
}
.titleTriangle {
	position: absolute;
	border: 20px solid transparent;
	border-bottom: 20px solid #70f6eb;
	top: -30px;
	left: 50px;
	z-index: 0;
}
.container_5ImageTitle span, 
.container_5ImageTitle h3{
	font-size: 18px;
	margin-top: 40px;
	text-align: left;
}
.container_5ImageTitle span {
	font-style: italic;
	font-family: Merriweather-Regular;
	font-size: 15px;
}
.container_5ImageTitle h3 {
	font-family: Merriweather-Bold;
	margin-left: 40px;
}
.container_5ImageTitle p {
	font-family: Raleway-Regular;
	margin: 30px 40px;
	font-size: 16px;
	text-align: left;
	color: #225450;
}
.titleLinks {
	text-align: left;
	margin-left: 40px;
	cursor: pointer;
	width: 70px;
}
.titleLinks a {
	text-decoration: none;
	color: #2f6f6a;
}
/*/////////container_6////////////////////////////////*/
.container_6 {
	min-height: 920px;
}
.container_6Background {
	background-color: #f9fbfb;
}
.container_6 p {
	margin-bottom: 120px;
}
#carousel_1 {
	max-width: 390px;
	height: 550px;
	margin: auto;
	margin-right: 50px;
	margin-top: 50px;
}
.carousel_1Image {
	height: 550px;
}
.carousel_1Image img {
	height: 480px;
}
#carousel_2 {
	height: 420px;
	margin: auto;
	margin-right: 20px;
	margin-top: 20px;
}
.carousel_2Image {
	height: 420px;
}
.carousel_2Image img {
	height: 410px;
}
#carousel_3 {
	min-height: 360px;
	margin: auto;
	margin-left: 0px;
	margin-top: 20px;
	position: relative;
}
#carousel_3  .carousel-indicators {
	display: none;
}
#carousel_3 .carousel-control-prev {
	width: 50px;
	height: 50px;
	background-color: #FFF;
	position: absolute;
	left: 85%;
	top: 105%;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
#carousel_3 .carousel-control-next {
	width: 50px;
	height: 50px;
	background-color: #FFF;
	position: absolute;
	left: 93%;
	top: 105%;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#b2b2b2' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#b2b2b2' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
#carousel_3 .carousel-control-next:hover,
#carousel_3 .carousel-control-prev:hover {
	background-color: #71f6eb;
}
#carousel_3 .carousel-control-next:hover .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#25514d' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
#carousel_3 .carousel-control-prev:hover .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#25514d' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel_3Content {
	padding-left: 90px;
	padding-right: 90px;
	padding-top: 100px;
	text-align: center;
	background-color: #eaebed;
	min-height: 360px;
}
.carousel_3Content p {
	min-height: 170px;
	margin-bottom: 0;
	font-size: 18px;
}
.carousel_3Content span {
	font-style: italic;
	font-family: Merriweather-Regular;
	font-size: 15px;
}
.carousel_3Content h3 {
	font-family: Merriweather-Bold;
	margin-left: 40px;
	font-size: 20px;
}
.fa-star {
	color: #f2da3b;
}
/*/////////container_7/////////////////////////////////*/
.container_7 {
	min-height: 390px;
	padding-top: 120px;
}
.container_7Image {
	padding-bottom: 50px;
}
/*/////////container_8/////////////////////////////////*/
.container_8 {
	min-height: 704px;
}
.container_8Background {
	background-image: url(../images/container8Background.png);
	background-repeat: round;
}
#name {
	margin-top: 30px;
}
#name,
#subject,
#email,
#message {
	border: none;
	background-color: rgba(0,0,0,0);
	max-width: 550px;
	min-height: 50px;
	padding: 10px 0;
	outline: none;
	border-bottom: 1px solid #a7aeb2;
	margin-bottom: 10px;
	color: #a7aeb2;
}
#message {
	resize: none;
	min-height: 120px;
}
#feedBackButton {
	position: absolute;
	left: 30px;
	bottom: 40px;
	width: 244px;
	height: 53px;
	border: none;
	background-color: #6eeee4;
	color: #2e6b66;
	font-family: Montserrat-Regular;
	font-weight: bolder;
	cursor: pointer;
}
#feedBackButton:hover {
	box-shadow: 0 0 50px rgba(110,238,228,0.7);
	color: #FFFFFF;
}
::placeholder {
	color: #a7aeb2;
}
form {
	margin: auto;
	margin-right: 0;
	margin-top: 120px;
	background-color: rgba(73,88,98,0.8);
	max-width: 614px;
	min-height: 460px;
	position: relative;
}
.contactContainer {
	margin: auto;
	margin-left: 0;
	margin-top: 120px;
	max-width: 500px;
	min-height: 460px;
	background-color: rgba(73,88,98,0.8);
}
.contactInfo {
	text-align: left;
	padding: 30px;
	padding-bottom: 10px;
}
.contactInfo p {
	margin-bottom: 0px;
	font-family: Raleway-Regular;
	color: #c5c9cb;
	font-size: 14px;
}
#gmap_canvas img {
	max-width:none!important;
	background:none!important
}
.contactMap {
	max-width: 455px;
	min-height: 244px;
	margin-left: 20px;
}
.map {
	overflow:hidden;
	width: 455px;
	height: 244px;
}
.embedMap {
	width: 455px;
	height: 244px;
}
/*/////////footer/////////////////////////////////*/
.page-footer {
	background-color: #262b2e;
	width: 100%;
	height: 312px;
	padding-top: 85px;
}
.footerContent {
	min-width: 125px;
	height: 30px;
	color: white;
	margin: auto;
	font-size: 20px; 
	font-family: Raleway-Regular;
	margin-bottom: 15px;
}
.footerLinks {
	min-width: 205px;
	height: 40px;
	margin: auto;
}
.footerLinks i {
	display: inline-block;
	width: 45px;
	height: 40px;
	background-color: #424648;
	padding-top: 10px;
	font-size: 20px;
	color: #bbb8b9;
	transition: 0.2s;
}
.footerLinks i:hover {
	background-color: #6eeee4;
	color: #081e1c;
} 
.footer-copyright p {
	margin-top: 40px;
	color: #bbb8b9;
}
/*/////////@media/////////////////////////////////*/
@import url(media.css);